*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: 'Raleway', sans-serif;
}
h1{
    text-align: center;
}
#appTitle{
    text-align: center;
    margin: 10px 0px;
    letter-spacing: 5px;
}
#main-container{
    width: 90%;
    /* border: 1px solid; */
    background: linear-gradient(54.7deg, #0ad8c7 12%,#960ead 100%);
    padding: 3px;
    /* height: 20vh; */
    margin: 0 auto;
}
#main-container h3{
    text-align: center;
    padding: 5px;
    letter-spacing: 1px;
}
#main-container p{
    text-align: center;
    margin: 0px 0px;
    padding: 5px 30px 10px;
    letter-spacing: .5px;
}
.introMessage{
    text-align: center;
}
.buttonsContainer{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}
#goTopButton{
    cursor: pointer;
    background: linear-gradient(54.7deg, #960ead 12%,#0ad8c7 100%);
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    position: fixed;
    /* right: 40px; */
    bottom: 0px;
}
#upArrowImg{
    background: linear-gradient(54.7deg, #960ead 12%,#0ad8c7 100%);
    width: 90%;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: 50%;
    margin-left: -18px;
    padding: 0px;
    border-radius: 5px;
}
#searchForm, #nameSearchForm{
    margin: 0 auto;
}
.searchValue, .nameSearchValue{
    width: 100%;
    text-align: center;
    /* margin: 10px auto 0px; */
    border: none;
    padding: 8px;
    font-size: 16px;
    border-bottom: none;
    /* border: 1px solid black; */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    /* border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white; */
}

.searchBox{
    border: none;
    width: 192px;
    background: linear-gradient(54.7deg, #960ead 12%,#0ad8c7 100%);
}
.topPart{
    padding: 5px 5px 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.bottomPart{
    margin: 0px auto 15px;
    padding: 0px 5px 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
/* , .nameSearchSubmitButton */
.searchSubmitButton{
    width: 100%;
    /* margin: 0px auto 15px; */
    display: block;
    padding: 8px;
    background: black;
    /* border: 1px solid black; */
    /* border-radius: 3px; */
    /* margin: 10px auto; */
    border-top: none;
    /* border: 1px solid black; */
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    /* border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white; */
    font-size: 16px;
    cursor: pointer;
    /* width: 80%; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#searchResultList h2 {
    text-align: center;
}
.nameDrinkLi {
    list-style: none;
    /* display: block; */
    width: 75%;
    text-align: center;
    margin: 0 auto;
}
.ingredItem{
    list-style: none;
    /* display: block; */
    width: 75%;
    text-align: center;
    margin: 0 auto;
}
.picOfDrink{
    width: 95%;
    margin: 10px auto;
    display: block;
}
#ingredientsList{
    margin: 5px auto 8px;
}
.itemLi{
    list-style: none;
    /* display: block; */
    width: 75%;
    text-align: center;
    margin: 0 auto;
}
#selectedDrinkIngredientsList{
    margin: 10px auto;
}
.pageButton{
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: linear-gradient(54.7deg,  #960ead 12%,#0ad8c7 100%);
    padding: 5px;
    /* background: whitesmoke; */
    /* color: black; */
    border: none;
    border-radius: 3px;
    margin: 7px auto;
    font-size: 16px;
    width: 80%;
    letter-spacing: 1px;
}
.searchPage{
    width: 35% !important;
}
.goBackList{
    display: block;
    width: 165px !important;
}
.pageButton a, span{
    display: block;
    text-decoration: none;
    padding: 7px;
    /* background: transparent; */
}
.randomAgain{
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    background: linear-gradient(54.7deg, #960ead 12%,#0ad8c7 100%);
    padding: 5px;
    /* background: whitesmoke; */
    /* color: black; */
    border: none;
    border-radius: 3px;
    margin: 0px auto 10px;
    font-size: 16px;
    width: 80%;
}
#pathwayBox{
    display: flex;
    width: 35%;
    margin: 5px auto;
    position: sticky;
    bottom: 0px;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}
.spiritBox {
    /* display: unset; */
    /* justify-content: space-around !important; */
    width: 62% !important;
    flex-direction: column;
}
.popularContainerPathway{
    flex-direction: column;
    width: unset !important;
}
.spiritButton, .popularButton{
    width: 100% !important;
    margin: 5px !important;
    /* height: 60px; */
}
/* .buttonsBoxSearchPage{
    width: 95% !important;
}
.psButton{
    margin: 0px auto 5px !important;
    width: 30% !important;
} */
/* #pathwayBox button{
    margin: 0px;
} */

.mainMenu{
    /* position: sticky;
    bottom: 0px; */
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    background: linear-gradient(54.7deg, #0ad8c7 20%, #960ead 100%);
    padding: 5px;
    /* background: whitesmoke; */
    /* color: black; */
    border: none;
    border-radius: 3px;
    margin: 0px auto 5px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    /* width: 80%; */
}
.quitRandom{
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    background: linear-gradient(54.7deg, #0ad8c7 20%, #960ead 100%);
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin: 0px auto 5px;
    font-size: 16px;
}
.previous, .forward{
    position: relative;
    width: 50px !important;
    height: 50px;
    padding: 0px;
    border-radius: 50px;
}
.previous img{
    width: 44px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -22px;
    border-radius: 50px;
    background-color: transparent;
    /* margin: 0px 4px 4px 3px; */
}
.forward img{
    width: 44px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: 50%;
    margin-right: -22px;
    border-radius: 50px;
    background-color: transparent;
    /* margin: 0px 3px 4px 4px; */
}
.basesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 5px;
}
.basesContainer #pathwayBox{
    grid-column-start: 1;
    grid-column-end: 5;
}
.alcoholBase{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}
#drinksList{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
}
#resultOfSelectedIngredient h3{
    margin: 5px 0px;
}
#listOfDrinksSelectedIngredient{
    display: grid;
    row-gap: 8px;
}
.gridDivDrink{
    /* height: 126px; */
    /* width: 126px; */
    text-align: center;
    border: 1px solid darkmagenta;
    position: relative;
}
.alcoholBaseChoice{
    border: none;
}
.drinkImg{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.selectedDrinkImg{
    width: 100%;
    margin: 10px 0px;
}
/* .drinkTabLabel{
    margin: 0px auto;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 76px;
    width: 150px;
    height: 40px;
    transform: skew(20deg);
    background: white;
    border: solid;
} */
/* .drinkDataCube{
    border: none;
    background-color: transparent;
} */
.drinkDataCube{
    position: relative;
    border: none;
    padding: 10px;
}
.drinkName{
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0px;
    margin: 0 auto !important;
    width: 110px;
    /* border:none;
   background-color:transparent; */
    /* outline:none;
    position: relative; */
    background: none;
    color: black;
    /* display: inline-block; */
    padding: 10px 3px 5px 10px !important;
    /* bottom: 21px; */
    font-size: 13px;
    -webkit-transform: skew(-9deg);
}
.drinkName:after{
    background: white;
    color: black;
    /* #3498db */
    border: solid;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transform: skew(-9deg);
	-moz-transform: skew(-9deg); 
	-o-transform: skew(-9deg); 
	z-index: -1;
}

/* margin: 0px auto;
position: absolute;
right: 0px;
left: 0px;
bottom: 76px;
width: 150px;
height: 40px;
transform: skew( 
20deg
);
background: white;
border: solid; */
/* #listDirectionContainer{
    display: block;
    text-align: center;
    margin: 10px 0px;
}
.listButton{
    width: 80px;
    padding: 5px;
    margin: 2px 10px;
} */
/* .mainMenu{
    position: sticky;
    bottom: 0px; */
    /* margin: 0 auto;
    display: block; */
/* } */
.imgButton{
    grid-column-start: 1;
    grid-column-end: 3;
}
#searchResultList{
    display: grid;
    grid-template-columns: 1fr;
}
#cancelGrid{
    /* display: unset; */
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0px auto 15px;
}
/* #selectedIngredDrink{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0px auto 15px;
} */
#selectedIngredDrink h2{
    text-align: center;
}
#selectedSpiritDrink{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0px auto 15px;
}
#selectedSpiritDrink h2{
    text-align: center;
}
/* .modalStyle{
    display: none;
    z-index: 1;
    width: 200px;
    border: white solid;
    position: sticky;
    left: 0;
    right: 0;
    bottom: 40%;
    margin: 0 auto;
    padding: 20px;
} */

@media only screen and (min-width: 320px){
    #main-container{

    }
    .randomAgain, .quitRandom{
        width: 80%;
    }
    #pathwayBox{
        width: 80%;
    }
    /* .mainMenu{
        width: 50%;
    } */
    .basesContainer #pathwayBox{
        grid-column-end: 3;
    }
    #selectedSpiritDrink{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #selectedIngredDrink{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .buttonsBoxSearchPage{
        flex-direction: column;
    }
    .psButton{
        margin: 0px auto 5px !important;
    }
    .searchPage{
        width: 70% !important;
    }
    #goTopButton{
        right: 6% !important;
    }
    /* .previous img{
        margin: 0px 3px 4px 3px;
    }
    .forward img{
        margin: 0px 3px 4px 3px;
    } */
}
@media only screen and (min-width: 425px){
    #listOfDrinksSelectedIngredient{
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        /* row-gap: 10px; */
    }
    #drinksList{
        grid-template-columns: 1fr 1fr;
    }
    .randomAgain, .quitRandom{
        width: 70%;
    }
    #pathwayBox{
        width: 80%;
    }
    .mainMenu{
        width: 60%;
    }
    .buttonsBoxSearchPage{
        width: 82% !important;
    }
    .psButton{
        /* margin: 0px auto 5px !important; */
        width: 55% !important;
        /* height: 58px; */
    }
    .searchPage {
        width: 55% !important;
    }
    /* .spiritButton {
        width: 120px !important;
    } */
    /* .previous img{
        margin: 0px 4px 4px 4px;
    }
    .forward img{
        margin: 0px 3px 4px 3px;
    } */
}
@media only screen and (min-width: 426px){
    #selectedIngredDrink{
        grid-column-start: 2;
        grid-column-end: 3;
        margin: 0px auto 15px;
    }
    #drinksList{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #selectedSpiritDrink{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #selectedSpiritDrink p {
        padding: 10px !important;
    }
    .ingredItem{
        width: unset !important;
    }
    /* .buttonsBoxSearchPage{
        flex-direction: unset !important;
    } */
}
@media only screen and (min-width: 642px){
    .buttonsBoxSearchPage{
        flex-direction: unset !important;
    }
    .psButton{
        /* height: unset !important; */
        width: 38% !important;
    }
}
@media only screen and (min-width: 768px){
    #listOfDrinksSelectedIngredient{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #drinksList{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pageButton{
        width: 60%;
    }
    .basesContainer{
        /* display: grid; */
        grid-template-columns: 1fr 1fr 1fr;
    }
    .basesContainer #pathwayBox{
        grid-column-end: 4;
    }
    .imgButton{
        grid-column-end: 4;
    }
    .vodka{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .whiskey{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    #searchResultList{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .picOfDrink {
        width: 40%;
    }
    .randomAgain, .quitRandom{
        width: 40%;
    }
    #pathwayBox{
        width: 50%;
        flex-direction: row !important;
    }
    /* .buttonsBoxSearchPage{
        width: 95% !important;
    } */
    .psButton{
        /* margin: 0px auto 5px !important; */
        width: 30% !important;
    }
    .searchPage{
        width: 35% !important;
    }
    /* .previous img{
        margin: 0px 4px 4px 4px
    }
    .forward img{
        margin: 0px 4px 4px 3px
    } */
}
@media only screen and (min-width: 1024px){
    #listOfDrinksSelectedIngredient{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #drinksList{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pageButton{
        width: 45%;
    }
    .basesContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: unset;
    }
    .basesContainer #pathwayBox{
        grid-column-end: 5;
    }
    .vodka{
        grid-column-start: unset;
        grid-column-end: unset;
    }
    .whiskey{
        grid-column-start: unset;
        grid-column-end: unset;
    }
    .imgButton {
        grid-column-end: 5;
    }
    .mainMenu{
        width: 68%;
    }
    .randomAgain, .quitRandom{
        width: 30%;
    }
    #pathwayBox {
        width: 45%;
    }
    /* .forward img {
        margin: 0px 3px 4px 3px;
    } */
}

