*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: 'Raleway', sans-serif;
}
h1{
    text-align: center;
}
#appTitle{
    text-align: center;
    margin: 10px 0px;
    letter-spacing: 5px;
}
#main-container{
    width: 90%;
    background: linear-gradient(54.7deg, #0ad8c7 12%,#960ead 100%);
    padding: 3px;
    margin: 0 auto;
}
#main-container h3{
    text-align: center;
    padding: 5px;
    letter-spacing: 1px;
}
#main-container p{
    text-align: center;
    margin: 0px 0px;
    padding: 5px 30px 10px;
    letter-spacing: .5px;
}
.introMessage{
    text-align: center;
}
.buttonsContainer{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}
#goTopButton{
    cursor: pointer;
    background: linear-gradient(54.7deg, #960ead 12%,#0ad8c7 100%);
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    position: fixed;
    bottom: 0px;
}
#upArrowImg{
    background: linear-gradient(54.7deg, #960ead 12%,#0ad8c7 100%);
    width: 90%;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: 50%;
    margin-left: -18px;
    padding: 0px;
    border-radius: 5px;
}
#searchForm, #nameSearchForm{
    margin: 0 auto;
}
.searchValue, .nameSearchValue{
    width: 100%;
    text-align: center;
    border: none;
    padding: 8px;
    font-size: 16px;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.searchBox{
    border: none;
    width: 192px;
    background: linear-gradient(54.7deg, #960ead 12%,#0ad8c7 100%);
}
.topPart{
    padding: 5px 5px 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.bottomPart{
    margin: 0px auto 15px;
    padding: 0px 5px 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
/* , .nameSearchSubmitButton */
.searchSubmitButton{
    width: 100%;
    display: block;
    padding: 8px;
    background: black;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#searchResultList h2 {
    text-align: center;
}
.nameDrinkLi {
    list-style: none;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}
.ingredItem{
    list-style: none;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}
.picOfDrink{
    width: 95%;
    margin: 10px auto;
    display: block;
}
#ingredientsList{
    margin: 5px auto 8px;
}
.itemLi{
    list-style: none;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}
#selectedDrinkIngredientsList{
    margin: 10px auto;
}
.pageButton{
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: linear-gradient(54.7deg,  #960ead 12%,#0ad8c7 100%);
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin: 7px auto;
    font-size: 16px;
    width: 80%;
    letter-spacing: 1px;
}
.searchPage{
    width: 35% !important;
}
.goBackList{
    display: block;
    width: 165px !important;
}
.pageButton a, span{
    display: block;
    text-decoration: none;
    padding: 7px;
}
.randomAgain{
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    background: linear-gradient(54.7deg, #960ead 12%,#0ad8c7 100%);
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin: 0px auto 10px;
    font-size: 16px;
    width: 80%;
}
#pathwayBox{
    display: flex;
    width: 35%;
    margin: 5px auto;
    position: sticky;
    bottom: 0px;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}
.spiritBox {
    width: 62% !important;
    flex-direction: column;
}
.popularContainerPathway{
    flex-direction: column;
    width: unset !important;
}
.spiritButton, .popularButton{
    width: 100% !important;
    margin: 5px !important;
}
.mainMenu{
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    background: linear-gradient(54.7deg, #0ad8c7 20%, #960ead 100%);
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin: 0px auto 5px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}
.quitRandom{
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    background: linear-gradient(54.7deg, #0ad8c7 20%, #960ead 100%);
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin: 0px auto 5px;
    font-size: 16px;
}
.previous, .forward{
    position: relative;
    width: 50px !important;
    height: 50px;
    padding: 0px;
    border-radius: 50px;
}
.previous img{
    width: 44px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -22px;
    border-radius: 50px;
    background-color: transparent;
}
.forward img{
    width: 44px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: 50%;
    margin-right: -22px;
    border-radius: 50px;
    background-color: transparent;
}
.basesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 5px;
}
.basesContainer #pathwayBox{
    grid-column-start: 1;
    grid-column-end: 5;
}
.alcoholBase{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}
#drinksList{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
}
#resultOfSelectedIngredient h3{
    margin: 5px 0px;
}
#listOfDrinksSelectedIngredient{
    display: grid;
    row-gap: 8px;
}
.gridDivDrink{
    text-align: center;
    border: 1px solid darkmagenta;
    position: relative;
}
.alcoholBaseChoice{
    border: none;
}
.drinkImg{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.selectedDrinkImg{
    width: 100%;
    margin: 10px 0px;
}
.drinkDataCube{
    position: relative;
    border: none;
    padding: 10px;
}
.drinkName{
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0px;
    margin: 0 auto !important;
    width: 110px;
    background: none;
    color: black;
    padding: 10px 3px 5px 10px !important;
    font-size: 13px;
    -webkit-transform: skew(-9deg);
}
.drinkName:after{
    background: white;
    color: black;
    border: solid;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transform: skew(-9deg);
	-moz-transform: skew(-9deg); 
	-o-transform: skew(-9deg); 
	z-index: -1;
}
.imgButton{
    grid-column-start: 1;
    grid-column-end: 3;
}
#searchResultList{
    display: grid;
    grid-template-columns: 1fr;
}
#cancelGrid{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0px auto 15px;
}
#selectedIngredDrink h2{
    text-align: center;
}
#selectedSpiritDrink{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0px auto 15px;
}
#selectedSpiritDrink h2{
    text-align: center;
}

@media only screen and (min-width: 320px){
    .randomAgain, .quitRandom{
        width: 80%;
    }
    #pathwayBox{
        width: 80%;
    }
    .basesContainer #pathwayBox{
        grid-column-end: 3;
    }
    #selectedSpiritDrink{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #selectedIngredDrink{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .buttonsBoxSearchPage{
        flex-direction: column;
    }
    .psButton{
        margin: 0px auto 5px !important;
    }
    .searchPage{
        width: 70% !important;
    }
    #goTopButton{
        right: 6% !important;
    }
}
@media only screen and (min-width: 425px){
    #listOfDrinksSelectedIngredient{
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
    #drinksList{
        grid-template-columns: 1fr 1fr;
    }
    .randomAgain, .quitRandom{
        width: 70%;
    }
    #pathwayBox{
        width: 80%;
    }
    .mainMenu{
        width: 60%;
    }
    .buttonsBoxSearchPage{
        width: 82% !important;
    }
    .psButton{
        width: 55% !important;
    }
    .searchPage {
        width: 55% !important;
    }
}
@media only screen and (min-width: 426px){
    #selectedIngredDrink{
        grid-column-start: 2;
        grid-column-end: 3;
        margin: 0px auto 15px;
    }
    #drinksList{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #selectedSpiritDrink{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #selectedSpiritDrink p {
        padding: 10px !important;
    }
    .ingredItem{
        width: unset !important;
    }
}
@media only screen and (min-width: 642px){
    .buttonsBoxSearchPage{
        flex-direction: unset !important;
    }
    .psButton{
        width: 38% !important;
    }
}
@media only screen and (min-width: 768px){
    #listOfDrinksSelectedIngredient{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #drinksList{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pageButton{
        width: 60%;
    }
    .basesContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .basesContainer #pathwayBox{
        grid-column-end: 4;
    }
    .imgButton{
        grid-column-end: 4;
    }
    .vodka{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .whiskey{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    #searchResultList{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .picOfDrink {
        width: 40%;
    }
    .randomAgain, .quitRandom{
        width: 40%;
    }
    #pathwayBox{
        width: 50%;
        flex-direction: row !important;
    }
    .psButton{
        width: 30% !important;
    }
    .searchPage{
        width: 35% !important;
    }
}
@media only screen and (min-width: 1024px){
    #listOfDrinksSelectedIngredient{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #drinksList{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pageButton{
        width: 45%;
    }
    .basesContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: unset;
    }
    .basesContainer #pathwayBox{
        grid-column-end: 5;
    }
    .vodka{
        grid-column-start: unset;
        grid-column-end: unset;
    }
    .whiskey{
        grid-column-start: unset;
        grid-column-end: unset;
    }
    .imgButton {
        grid-column-end: 5;
    }
    .mainMenu{
        width: 68%;
    }
    .randomAgain, .quitRandom{
        width: 30%;
    }
    #pathwayBox {
        width: 45%;
    }
}

